<div class="navigation">
    <h2>Cupcakes 101</h2>
    <div>
        <p><a href="/">login</a></p>
        <p><a href="/register">register</a></p>
        <p><a href="/system">system</a></p>
        <p><a href="/about">about</a></p>
    </div>
</div>